In [2]:
import pandas as pd
import numpy as np

df= pd.read_csv("Loan_default.csv")
df.head()

,LoanID,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner,Default
0,I38PQUQS96,56,85994,50587,520,80,4,15.23,36,0.44,Bachelor's,Full-time,Divorced,Yes,Yes,Other,Yes,0
1,HPSK72WA7R,69,50432,124440,458,15,1,4.81,60,0.68,Master's,Full-time,Married,No,No,Other,Yes,0
2,C1OZ6DPJ8Y,46,84208,129188,451,26,3,21.17,24,0.31,Master's,Unemployed,Divorced,Yes,Yes,Auto,No,1
3,V2KKSFM3UN,32,31713,44799,743,0,3,7.07,24,0.23,High School,Full-time,Married,No,No,Business,No,0
4,EY08JDHTZP,60,20437,9139,633,8,4,6.51,48,0.73,Bachelor's,Unemployed,Divorced,No,Yes,Auto,No,0

In [4]:
df.info()
df.describe()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255347 entries, 0 to 255346
Data columns (total 18 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   LoanID          255347 non-null  object
 1   Age             255347 non-null  int64
 2   Income          255347 non-null  int64
 3   LoanAmount      255347 non-null  int64
 4   CreditScore     255347 non-null  int64
 5   MonthsEmployed  255347 non-null  int64
 6   NumCreditLines  255347 non-null  int64
 7   InterestRate    255347 non-null  float64
 8   LoanTerm        255347 non-null  int64
 9   DTIRatio        255347 non-null  float64
 10  Education       255347 non-null  object
 11  EmploymentType  255347 non-null  object
 12  MaritalStatus   255347 non-null  object
 13  HasMortgage     255347 non-null  object
 14  HasDependents   255347 non-null  object
 15  LoanPurpose     255347 non-null  object
 16  HasCoSigner     255347 non-null  object
 17  Default         255347 non-null  int64
dtypes: float64(2), int64(8), object(8)
memory usage: 35.1+ MB

LoanID            0
Age               0
Income            0
LoanAmount        0
CreditScore       0
MonthsEmployed    0
NumCreditLines    0
InterestRate      0
LoanTerm          0
DTIRatio          0
Education         0
EmploymentType    0
MaritalStatus     0
HasMortgage       0
HasDependents     0
LoanPurpose       0
HasCoSigner       0
Default           0
dtype: int64

In [16]:
numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns
numeric_cols

Index(['Age', 'Income', 'LoanAmount', 'CreditScore', 'MonthsEmployed',
       'NumCreditLines', 'InterestRate', 'LoanTerm', 'DTIRatio', 'Default'],
      dtype='object')

In [29]:
df['Default'].value_counts(normalize=True)

Default
0    0.883872
1    0.116128
Name: proportion, dtype: float64

In [11]:
df.duplicated().sum()

np.int64(0)

In [30]:
df[df['Age'] < 18]
df[df['Income'] <= 0]
df[df['CreditScore'] < 300]
df[df['DTIRatio'] < 0]

Empty DataFrame
Columns: [LoanID, Age, Income, LoanAmount, CreditScore, MonthsEmployed, NumCreditLines, InterestRate, LoanTerm, DTIRatio, Education, EmploymentType, MaritalStatus, HasMortgage, HasDependents, LoanPurpose, HasCoSigner, Default]
Index: []

In [47]:
Q1 = df['LoanAmount'].quantile(0.25)
Q3 = df['LoanAmount'].quantile(0.75)
IQR = Q3 - Q1

lower = Q1 - 1.5 * IQR
upper = Q3 + 1.5 * IQR
df['LoanAmount_capped'] = df['LoanAmount'].clip(lower, upper)

Q1 = df['Income'].quantile(0.25)
Q3 = df['Income'].quantile(0.75)
df['Income_capped'] = df['Income'].clip(lower, upper)

Q1 = df['InterestRate'].quantile(0.25)
Q3 = df['InterestRate'].quantile(0.75)
df['InterestRate_capped'] = df['InterestRate'].clip(lower, upper)

df = df[(df['DTIRatio'] >= 0) & (df['DTIRatio'] <= 1)]
df

,LoanID,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,...,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner,Default,LoanAmount_capped,Income_capped,InterestRate_capped
0,I38PQUQS96,56,85994,50587,520,80,4,15.23,36,0.44,...,Full-time,Divorced,Yes,Yes,Other,Yes,0,50587,85994,15.23
1,HPSK72WA7R,69,50432,124440,458,15,1,4.81,60,0.68,...,Full-time,Married,No,No,Other,Yes,0,124440,50432,4.81
2,C1OZ6DPJ8Y,46,84208,129188,451,26,3,21.17,24,0.31,...,Unemployed,Divorced,Yes,Yes,Auto,No,1,129188,84208,21.17
3,V2KKSFM3UN,32,31713,44799,743,0,3,7.07,24,0.23,...,Full-time,Married,No,No,Business,No,0,44799,31713,7.07
4,EY08JDHTZP,60,20437,9139,633,8,4,6.51,48,0.73,...,Unemployed,Divorced,No,Yes,Auto,No,0,9139,20437,6.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255342,8C6S86ESGC,19,37979,210682,541,109,4,14.11,12,0.85,...,Full-time,Married,No,No,Other,No,0,210682,37979,14.11
255343,98R4KDHNND,32,51953,189899,511,14,2,11.55,24,0.21,...,Part-time,Divorced,No,No,Home,No,1,189899,51953,11.55
255344,XQK1UUUNGP,56,84820,208294,597,70,3,5.29,60,0.50,...,Self-employed,Married,Yes,Yes,Auto,Yes,0,208294,84820,5.29
255345,JAO28CPL4H,42,85109,60575,809,40,1,20.90,48,0.44,...,Part-time,Single,Yes,Yes,Other,No,0,60575,85109,20.90
255346,ZTH91CGL0B,62,22418,18481,636,113,2,6.73,12,0.48,...,Unemployed,Divorced,Yes,No,Education,Yes,0,18481,22418,6.73

In [48]:
import numpy as np
df['Income_log'] = np.log1p(df['Income'])
df

,LoanID,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,...,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner,Default,LoanAmount_capped,Income_capped,InterestRate_capped,Income_log
0,I38PQUQS96,56,85994,50587,520,80,4,15.23,36,0.44,...,Divorced,Yes,Yes,Other,Yes,0,50587,85994,15.23,11.362044
1,HPSK72WA7R,69,50432,124440,458,15,1,4.81,60,0.68,...,Married,No,No,Other,Yes,0,124440,50432,4.81,10.828401
2,C1OZ6DPJ8Y,46,84208,129188,451,26,3,21.17,24,0.31,...,Divorced,Yes,Yes,Auto,No,1,129188,84208,21.17,11.341057
3,V2KKSFM3UN,32,31713,44799,743,0,3,7.07,24,0.23,...,Married,No,No,Business,No,0,44799,31713,7.07,10.364514
4,EY08JDHTZP,60,20437,9139,633,8,4,6.51,48,0.73,...,Divorced,No,Yes,Auto,No,0,9139,20437,6.51,9.925151
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255342,8C6S86ESGC,19,37979,210682,541,109,4,14.11,12,0.85,...,Married,No,No,Other,No,0,210682,37979,14.11,10.544815
255343,98R4KDHNND,32,51953,189899,511,14,2,11.55,24,0.21,...,Divorced,No,No,Home,No,1,189899,51953,11.55,10.858114
255344,XQK1UUUNGP,56,84820,208294,597,70,3,5.29,60,0.50,...,Married,Yes,Yes,Auto,Yes,0,208294,84820,5.29,11.348298
255345,JAO28CPL4H,42,85109,60575,809,40,1,20.90,48,0.44,...,Single,Yes,Yes,Other,No,0,60575,85109,20.90,11.351700
255346,ZTH91CGL0B,62,22418,18481,636,113,2,6.73,12,0.48,...,Divorced,Yes,No,Education,Yes,0,18481,22418,6.73,10.017664

In [52]:
df['Income_to_Loan_Ratio'] = df['Income'] / df['LoanAmount_capped']

df['Age_Group'] = pd.cut(
    df['Age'],
    bins=[18,30,45,60,100],
    labels=['Young','Mid','Senior','Old']
)

df['DTI_Level'] = pd.cut(
    df['DTIRatio'],
    bins=[0,0.2,0.4,1],
    labels=['Low','Medium','High']
)
df

,LoanID,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,...,LoanPurpose,HasCoSigner,Default,LoanAmount_capped,Income_capped,InterestRate_capped,Income_log,Income_to_Loan_Ratio,Age_Group,DTI_Level
0,I38PQUQS96,56,85994,50587,520,80,4,15.23,36,0.44,...,Other,Yes,0,50587,85994,15.23,11.362044,1.699923,Senior,High
1,HPSK72WA7R,69,50432,124440,458,15,1,4.81,60,0.68,...,Other,Yes,0,124440,50432,4.81,10.828401,0.405272,Old,High
2,C1OZ6DPJ8Y,46,84208,129188,451,26,3,21.17,24,0.31,...,Auto,No,1,129188,84208,21.17,11.341057,0.651825,Senior,Medium
3,V2KKSFM3UN,32,31713,44799,743,0,3,7.07,24,0.23,...,Business,No,0,44799,31713,7.07,10.364514,0.707895,Mid,Medium
4,EY08JDHTZP,60,20437,9139,633,8,4,6.51,48,0.73,...,Auto,No,0,9139,20437,6.51,9.925151,2.236240,Senior,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255342,8C6S86ESGC,19,37979,210682,541,109,4,14.11,12,0.85,...,Other,No,0,210682,37979,14.11,10.544815,0.180267,Young,High
255343,98R4KDHNND,32,51953,189899,511,14,2,11.55,24,0.21,...,Home,No,1,189899,51953,11.55,10.858114,0.273582,Mid,Medium
255344,XQK1UUUNGP,56,84820,208294,597,70,3,5.29,60,0.50,...,Auto,Yes,0,208294,84820,5.29,11.348298,0.407213,Senior,High
255345,JAO28CPL4H,42,85109,60575,809,40,1,20.90,48,0.44,...,Other,No,0,60575,85109,20.90,11.351700,1.405019,Mid,High
255346,ZTH91CGL0B,62,22418,18481,636,113,2,6.73,12,0.48,...,Education,Yes,0,18481,22418,6.73,10.017664,1.213030,Old,High

# “Do customers with lower credit scores default more?”

In [50]:
df.groupby('Default')['CreditScore'].mean()

Default
0    576.232270
1    559.286143
Name: CreditScore, dtype: float64

# Customers who defaulted have much lower credit scores.
# Credit score is a strong predictor of default risk
# Tighten approval rules for low credit score applicants.
# Increase interest rates for risky score ranges

# “Which customer group is more risky?”

In [55]:
df.groupby('Age_Group')['Default'].mean()

C:\Users\Hp\AppData\Local\Temp\ipykernel_16360\1541963611.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('Age_Group')['Default'].mean()

Age_Group
Young     0.191522
Mid       0.126953
Senior    0.077428
Old       0.050541
Name: Default, dtype: float64

# Younger customers default more. 
# Older customers are more financially stable
# Require co-signer or lower loan amount for younger applicants.
# Create special low-risk offers for seniors

# “Which loan purposes are most risky?”

In [56]:
df.groupby('LoanPurpose')['Default'].mean().sort_values(ascending=False)

LoanPurpose
Business     0.123260
Auto         0.118814
Education    0.118381
Other        0.117885
Home         0.102348
Name: Default, dtype: float64

# Business & education loans have highest default risk
# Home loans are safest
# Increase interest rates for high-risk purposes
# Allocate more capital to safer loan categories

# “Does employment type affect loan repayment?”

In [61]:
df.groupby('EmploymentType')['Default'].mean().sort_values(ascending=False)

EmploymentType
Unemployed       0.135529
Part-time        0.119652
Self-employed    0.114620
Full-time        0.094634
Name: Default, dtype: float64

# Unemployed customers default most
# Salaried customers are safest
# Reject or restrict loans for unemployed applicants
# Offer better terms to salaried customers

In [63]:
final_df = df.copy()

In [64]:
final_df.to_csv("loan_analysis_final.csv", index=False)

In [67]:
final_df

,LoanID,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,...,LoanPurpose,HasCoSigner,Default,LoanAmount_capped,Income_capped,InterestRate_capped,Income_log,Income_to_Loan_Ratio,Age_Group,DTI_Level
0,I38PQUQS96,56,85994,50587,520,80,4,15.23,36,0.44,...,Other,Yes,0,50587,85994,15.23,11.362044,1.699923,Senior,High
1,HPSK72WA7R,69,50432,124440,458,15,1,4.81,60,0.68,...,Other,Yes,0,124440,50432,4.81,10.828401,0.405272,Old,High
2,C1OZ6DPJ8Y,46,84208,129188,451,26,3,21.17,24,0.31,...,Auto,No,1,129188,84208,21.17,11.341057,0.651825,Senior,Medium
3,V2KKSFM3UN,32,31713,44799,743,0,3,7.07,24,0.23,...,Business,No,0,44799,31713,7.07,10.364514,0.707895,Mid,Medium
4,EY08JDHTZP,60,20437,9139,633,8,4,6.51,48,0.73,...,Auto,No,0,9139,20437,6.51,9.925151,2.236240,Senior,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255342,8C6S86ESGC,19,37979,210682,541,109,4,14.11,12,0.85,...,Other,No,0,210682,37979,14.11,10.544815,0.180267,Young,High
255343,98R4KDHNND,32,51953,189899,511,14,2,11.55,24,0.21,...,Home,No,1,189899,51953,11.55,10.858114,0.273582,Mid,Medium
255344,XQK1UUUNGP,56,84820,208294,597,70,3,5.29,60,0.50,...,Auto,Yes,0,208294,84820,5.29,11.348298,0.407213,Senior,High
255345,JAO28CPL4H,42,85109,60575,809,40,1,20.90,48,0.44,...,Other,No,0,60575,85109,20.90,11.351700,1.405019,Mid,High
255346,ZTH91CGL0B,62,22418,18481,636,113,2,6.73,12,0.48,...,Education,Yes,0,18481,22418,6.73,10.017664,1.213030,Old,High

In [70]:
import pandas as pd
import mysql.connector
import os

# List of CSV files and their corresponding table names
csv_files = [
    ('loan_Analysis_final.csv', 'Loans')# Added payments.csv for specific handling
]

# Connect to the MySQL database
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='1224',
    database='Loan_Defaults'
)
cursor = conn.cursor()

# Folder containing the CSV files
folder_path = 'C:/Users/Hp/OneDrive/Desktop/Data Analytics Python Files'

def get_sql_type(dtype):
    if pd.api.types.is_integer_dtype(dtype):
        return 'INT'
    elif pd.api.types.is_float_dtype(dtype):
        return 'FLOAT'
    elif pd.api.types.is_bool_dtype(dtype):
        return 'BOOLEAN'
    elif pd.api.types.is_datetime64_any_dtype(dtype):
        return 'DATETIME'
    else:
        return 'TEXT'

for csv_file, table_name in csv_files:
    file_path = os.path.join(folder_path, csv_file)
    
    # Read the CSV file into a pandas DataFrame
    df = pd.read_csv(file_path)
    
    # Replace NaN with None to handle SQL NULL
    df = df.where(pd.notnull(df), None)
    
    # Debugging: Check for NaN values
    print(f"Processing {csv_file}")
    print(f"NaN values before replacement:\n{df.isnull().sum()}\n")

    # Clean column names
    df.columns = [col.replace(' ', '_').replace('-', '_').replace('.', '_') for col in df.columns]

    # Generate the CREATE TABLE statement with appropriate data types
    columns = ', '.join([f'`{col}` {get_sql_type(df[col].dtype)}' for col in df.columns])
    create_table_query = f'CREATE TABLE IF NOT EXISTS `{table_name}` ({columns})'
    cursor.execute(create_table_query)

    # Insert DataFrame data into the MySQL table
    for _, row in df.iterrows():
        # Convert row to tuple and handle NaN/None explicitly
        values = tuple(None if pd.isna(x) else x for x in row)
        sql = f"INSERT INTO `{table_name}` ({', '.join(['`' + col + '`' for col in df.columns])}) VALUES ({', '.join(['%s'] * len(row))})"
        cursor.execute(sql, values)

    # Commit the transaction for the current CSV file
    conn.commit()

# Close the connection
conn.close()

Processing loan_Analysis_final.csv
NaN values before replacement:
LoanID                     0
Age                        0
Income                     0
LoanAmount                 0
CreditScore                0
MonthsEmployed             0
NumCreditLines             0
InterestRate               0
LoanTerm                   0
DTIRatio                   0
Education                  0
EmploymentType             0
MaritalStatus              0
HasMortgage                0
HasDependents              0
LoanPurpose                0
HasCoSigner                0
Default                    0
LoanAmount_capped          0
Income_capped              0
InterestRate_capped        0
Income_log                 0
Income_to_Loan_Ratio       0
Age_Group               4884
DTI_Level                  0
dtype: int64

In [81]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import mysql.connector

conn= mysql.connector.connect(   host='localhost',
    user='root',
    password='1224',
    database='Loan_Defaults'
)

cur=conn.cursor()

In [84]:
query = """SELECT 
  AVG(loans.Default) AS default_rate
FROM loans;
"""
cur.execute(query)
data=cur.fetchall()
df= pd.DataFrame(data, columns=["Default_Rate"])
df

  Default_Rate
0       0.1161

In [88]:
query = """SELECT LoanPurpose, AVG(loans.Default) AS default_rate
FROM loans
GROUP BY LoanPurpose
ORDER BY default_rate DESC;
"""
cur.execute(query)
data=cur.fetchall()
df= pd.DataFrame(data, columns=["Purpose","Average"])
df

     Purpose Average
0   Business  0.1233
1       Auto  0.1188
2  Education  0.1184
3      Other  0.1179
4       Home  0.1023

In [91]:
query = """SELECT EmploymentType, AVG(loans.Default) AS default_rate
FROM loans
GROUP BY EmploymentType;
"""
cur.execute(query)
data=cur.fetchall()
df= pd.DataFrame(data, columns=["Emp_Type","Average"])
df

        Emp_Type Average
0      Full-time  0.0946
1     Unemployed  0.1355
2  Self-employed  0.1146
3      Part-time  0.1197

In [93]:
query = """SELECT COUNT(*) 
FROM loans
WHERE LoanAmount > 50000 AND Income < 30000 AND (loans.Default) = 1;"""
cur.execute(query)
data=cur.fetchall()
df= pd.DataFrame(data, columns=["Count"])
df

   Count
0   5727